@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #e1e7ef;
    --primary: #3b82f6;
    --primary-foreground: #ffffff;
    --secondary: #1f2937;
    --secondary-foreground: #e1e7ef;
    --accent: #3b82f6;
    --accent-foreground: #ffffff;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}